/* Self Clearing Floats
---------------------------------------- */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {
    display: inline-block;
    width: 100%;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
*:first-child+html .clearfix { 
	display:inline-block; 
}

a, *:active, a:active, a:focus { outline: none; }

body{
	background: url('../../images/background.jpg') center top;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	color:#666;
	margin:0px;
	padding-top:20px;
}

#appointment_link a{
	display:block;
	width:145px;
	margin: 1em 0;
	padding:1em 10px;
	background: url('../../images/background.jpg');
	text-align:center;
	font-weight:bold;
	color:#FF0;
	text-decoration:none;
	text-shadow:#000 2px 2px 6px;
	border:solid 1px #FFF;
	border-radius:4px;
	box-shadow:#000 2px 2px 6px;
}

#home #appointment_link a,
body#home			{background-image:url('../../images/backgroundh.jpg');}
#about #appointment_link a,
body#about			{background-image:url('../../images/background3.jpg');}
#solutions #appointment_link a,
body#solutions		{background-image:url('../../images/background2.jpg');}
body#patients #appointment_link a,
body#patients		{background-image:url('../../images/background4.jpg');}
#dentists #appointment_link a,
body#dentists		{background-image:url('../../images/background5.jpg');}
#periodontics #appointment_link a,
body#periodontics	{background-image:url('../../images/background1.jpg');}
#swoosh{background: url(../../images/swoosh2.png);height:123px;width:100%;position:absolute;top:210px;z-index:100;}

#frame-outer{
	position:relative;
	top:0;
	background: url('../../images/body-bg.png') repeat-y left top;
	margin:0px auto;
	width:994px;
/*
*/
}
/*
#home #frame-outer			{background-image:url('../../images/body-bg1.gif');}
#about #frame-outer			{background-image:url('../../images/body-bg2.gif');}
#solutions #frame-outer		{background-image:url('../../images/body-bg3.gif');}
#patients #frame-outer		{background-image:url('../../images/body-bg4.gif');}
#dentists #frame-outer		{background-image:url('../../images/body-bg5.gif');}
#periodontics #frame-outer	{background-image:url('../../images/body-bg6.gif');}
*/
#frame{
	width:960px;
	margin:0px auto;
}
#btm,
#top{
	margin:0px auto;
	width:994px;
}
#top{
	margin-top:25px;
	height:150px;
	background: url('../../images/spacer.gif') no-repeat right bottom;
}
#home #top{background-image:url('../../images/top-home.jpg');}
#about #top{background-image:url('../../images/top-monastery.jpg');}
#solutions #top{background-image:url('../../images/top-davinci.jpg');}
#patients #top{background-image:url('../../images/top-venus.jpg');}
#dentists #top{background-image:url('../../images/top-tricorner.jpg');}
#periodontics #top{background-image:url('../../images/top-carvaggio.jpg');}

#logo{
	padding:15px 0px 0px 15px;
	position:relative;
	z-index:200;
}

#btm{
	height:148px;
	background: url('../../images/spacer.gif') no-repeat center top;
	margin:0px auto;
	width:994px;
}
#home #btm{background-image:url('../../images/btm-home.jpg');height:190px;}
#about #btm{background-image:url('../../images/btm-monastery.jpg');}
#solutions #btm{background-image:url('../../images/btm-davinci.jpg');}
#patients #btm{background-image:url('../../images/btm-venus.jpg');}
#dentists #btm{background-image:url('../../images/btm-tricorner.jpg');}
#periodontics #btm{background-image:url('../../images/btm-carvaggio.jpg');}

/*
#nav{
	position:absolute;
	top:10px;
	height:100px;
	width:100%;
	background:url('../../images/nav-clear-bg.png') repeat-x;
	text-align:center;
	z-index:100;
}
#nav a{
	display:inline-block;
	padding:0px 30px;
	height:22px;
	padding-top:3px;
	color:#BBB;
	color:#FFF;
	border-right:solid 1px #222;
	text-decoration:none;
	font-size:14px;
	filter:alpha(opacity=60);-moz-opacity:.6;opacity:.6;
}
#nav a:hover{
	color:#FFF;
	color:#EEE;
	filter:alpha(opacity=100);-moz-opacity:1.0;opacity:1.0;
	background:url('../../images/nav-bg.png') repeat-x left -55px;
}
#nav a.home{
	border-left:solid 1px #222;
}

#nav a#link-selected{
	color:#FFF;
	filter:alpha(opacity=100);-moz-opacity:1.0;opacity:1.0;
	font-weight:bold;
	background:url('../../images/nav-bg.png') repeat-x left -45px;
}
*/
/* ################################################################################ MAIN NAV */

#nav{
	position:absolute;
	top:10px;
	height:100px;
	width:100%;
	background:url('../../images/nav-clear-bg.png') repeat-x;
	text-align:center;
	z-index:100;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	font-size:1px;
	text-align:left;
	display:inline-block;
	margin:0 auto;
}
#nav ul li {
	margin: 0;
	padding: 0px;
	display:inline;
	list-style: none;
/*
	display: table-cell;
*/
	position: relative;
	float:left;
}
#nav a{
	display:inline-block;
	padding:0px 30px;
	height:22px;
	padding-top:3px;
	color:#BBB;
	color:#FFF;
	border-right:solid 1px #222;
	text-decoration:none;
	font-size:14px;
	filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8;
}

#nav ul ul a:hover {text-decoration:underline;filter:alpha(opacity=100);-moz-opacity:1.0;opacity:1.0;}
#nav .selected a {color:#FFF;filter:alpha(opacity=100);-moz-opacity:1.0;opacity:1.0;}
#nav a#link-selected,
#nav a#link-focused{
	color:#FFF;
	filter:alpha(opacity=100);-moz-opacity:1.0;opacity:1.0;
	font-weight:bold;
	background:url('../../images/nav-bg.png') repeat-x left -45px;
}
#nav ul ul{
	clear:both;
	margin: 0;
	padding: 0;
	padding:10px 0 3px 10px;
	margin-top:0px;
	display: block;
	position: absolute;
	z-index: 999;
	top: 27px;
	width: 240px;
	display: none;
	Xleft: 0;
	text-align:left;
	border:solid 1px #473527;
/*
	border-left:solid 1px #7D664F;
*/
	border-top:none;
	background:#B68347 url(../../images/body-bg.jpg);
	background:#000;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	-webkit-box-shadow:3px 3px 10px #000;
	-moz-box-shadow:3px 3px 10px #000;
	box-shadow:3px 3px 10px #000;
	filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;
}
#nav ul ul ul{left:160px;top:-12px;padding-bottom:1em;border-top:solid 1px #473527;Xwidth:auto;filter:alpha(opacity=100);-moz-opacity:1.0;opacity:1.0;}
#nav ul ul li{
	margin: 0;margin-bottom:.8em;
	padding: 0;
	float: none;
	position: relative;
	list-style: none;
	display: block;
	text-align:left;
	padding-left:10px;
}
#nav ul ul li a{
	float:none;
	background:none;
	display: inline;
	color:#FFF;
	text-align:left;
	border:none;
	Xwhite-space:nowrap;
	text-indent:0;
	Xheight:20px;
	padding:0;
}
#nav ul ul ul li{margin-bottom:.8em;}
#nav ul ul ul li a{white-space:normal;display:inline;}

#content{
	padding:0px 10px 20px 10px;
	color:#000;
}
#home #content{margin-top:-20px;padding:0 50px;}
#about #content{
	XCbackground:url('../../images/graydot.gif') repeat-y 250px top;
}

#subnav{
	float:left;
	position:relative;
	left:-10px;
	width:210px;
	padding-right:10px;
	font-size:11px;
	z-index:60;
}
/*
#subnav div{display:none;}
#subnav h3{
	background:#999;
	padding:2px 5px;
	color:#FFF;
	margin-bottom:0px;
}
#subnav a{
	display:block;
	padding:3px 3px 3px 10px;
	background:#EEE;
	list-style-type:none;
	text-decoration:none;
	margin-bottom:1px;
}
#subnav,
#subnav a{
	color:#666;
}
#subnav a:hover{
	color:#000;
	background:#DDD;
}
*/
#subnav a#sub-selected{
	border-top: solid 1px #CCC;
	background:url('../../images/selected_nav.jpg') no-repeat right center;
	font-weight:bold;
	color:#000;
}

ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15em;
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a, ul.menu ul.menu li a {
  background: #006;
	background:#999 url('../../images/circle-pointer.png') no-repeat 5px 4px;
  color: #fff;	
  padding: 0.5em;
  padding-left:25px;
  font-weight:bold;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
  background-color: #777;
  Xbackground-position: 5px -46px;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
  font-weight:normal;
}

ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
ul.menu a.active,
ul.menu ul.menu
li a.active,
ul.menu a.active:hover,
ul.menu ul.menu li a.active:hover {
/*
    text-decoration: underline;
*/
    background: #c00;
	background:#333 url('../../images/circle-pointer.png') no-repeat 5px -46px;
}
div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul.menu div.panel a, ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}



#subcontent{
	position:relative;
	z-index:80;
	float:left;
	width:680px;
	padding-top:20px;
}

#bottom-bg-container{
	font-size:1px;
	margin:0px auto;
	width:994px;
}
#bottom-bg{
	position:absolute;
	font-size:1px;
	background:url('../../images/footer-bg.png') no-repeat left top;
	height:40px;
	width:994px;
	filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;	
}
#bottom{
	position:relative;
	top:5px;
	font-size:14px;
	margin:0px auto;
	height:35px;
	width:994px;
	text-align:center;
}
#bottom a{font-weight:bold;color:#FFF;}
#footer,
#footer a{color:#FFF;}
#footer{
	position:relative;
	padding:20px 50px;
	padding:0 0 40px 0;
	text-align:center;
	margin:0px auto;
	width:994px;
	filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;
}
/*
#home #footer			{background-image:url('../../images/footer-bg1.jpg');}
#about #footer			{background-image:url('../../images/footer-bg2.jpg');}
#solutions #footer		{background-image:url('../../images/footer-bg3.jpg');}
#patients #footer		{background-image:url('../../images/footer-bg4.jpg');}
#dentists #footer		{background-image:url('../../images/footer-bg5.jpg');}
#periodontics #footer	{background-image:url('../../images/footer-bg6.jpg');}
*/


h1,h2,h3,h4,h5{font-family:'Trebuchet MS',Arial,Verdana,Helvetica,sans-serif;margin-top:0;}
h1{font-size:28px;}
h2{font-size:20px;color:#999;text-align:right;border-bottom:solid 1px #999;}
h3{font-size:16px;color:#999;border-bottom:solid 1px #999;}
img{border:0px;}


#home-pic{float:left;width:340px;text-align:left;padding:0 0 10px 0;}
#home-pic #cred{font-size:12px;font-style:normal;color:#555;}
#home-quote{font-size:16px;line-height:1.8;color:#886;}
#home-quote q{font-style:italic;}

#home_callouts-container{background:url(../../images/line.gif) repeat-y 33% top;}
#home_callouts			{background:url(../../images/line.gif) repeat-y 67% top;}
#home_callouts fieldset{border:0;margin:0;padding:0;display:block;float:left;width:31%;margin-left:3.5%;}
#home_callouts fieldset#home_callout1{border:0;margin:0;padding:0;}
#home_callouts fieldset h3{border:0;margin:.5em 0;}

/* SUBPAGES */
#subpages div{display:none;}
#subpages div#selectedSub{display:block;}



/* FAQs */
.visible {display:block;}
.hidden {display:none;}
#answers{
}
#answers div, .answer_hidden{
	display:none;
}

.question{
	font-size:12px;
	font-weight:bold;
	color:#072;
}
a.question, a.question_selected{
	display:block;
	margin-top:1em;
	padding-left:25px;
	padding-bottom:3px;
	background:url('../../images/circle-pointer.gif') no-repeat 3px 0px;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color:#666;
}
a.question_selected{
	background:url('../../images/circle-pointer-over.gif') no-repeat 3px 0px;
	color:#000;
}
.answer_hidden, .answer_visible{
	padding-left:25px;
}

#top_thumb{
	clear:both;
}
.caption{
	Xcolor:#666;
}
.callout{
	padding:5px;
	border:solid 1px #CCC;
	text-align:center;
	font-weight:bold;
}
.gallery b{display:none;}
.gallery {display:block;float:right;margin:0 0 .5em 1em;}
#gallery_thumbs{text-align:center;}
#gallery_thumbs .gallery{display:inline-block;float:none;margin:0;}
#gallery_thumbs a{
	Xfloat:left;
	border:solid 1px #FFF;
	display:inline-block;
	width:150px;
	height:158px;
	opacity:.9;
/*
	width:125px;
	height:125px;
	margin:16px 26px 17px 27px;
*/
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	color:#666;
}
#gallery_thumbs a:hover{
	opacity:1.0;
	color:#000;
	border:solid 1px #CCC;
}
a.gallery span{
	display:inline-block;
	width:125px;
	height:125px;
	Xmargin-left:27px;
	margin:0 auto;
	background: url(../../gallery/thumb_grid.jpg) no-repeat;
	clear:after;
}
#gallery_thumbs .gallery b{display:inline;}

.note{font-size:9px;}
.espan{text-indent:-9988px;display:none;}

.topshadow{height:20px;background:url(../../images/top_shadow.gif) no-repeat center top;margin-bottom:.2em;}

/* ################################ SLIDER ########## */

div.anythingSlider {
	margin: 0 auto 0;
	padding: 0px 0px 0px 0px;
	position: relative;
	list-style: none;
	overflow: hidden;
	}
div.anythingSlider li iframe, div.anythingSlider li embed,
div.anythingSlider li object {
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 8;
	}
div.anythingSlider li .feature_video {
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	z-index: 8;
	}
div.anythingSlider li .feature_img {
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	}
div.anythingSlider .anythingWindow {
	float: left;
	display: block;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	overflow: hidden;
	clear: both;
	z-index: 1;
	}
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	}

/* Navigation Arrows */
div.anythingSlider .arrow.back {
	float: left;
	display: block;
	position: absolute;
	Xbackground: #333333;
	width: 20px;
	height: 30px;
	left: 0px;
	margin: -32px 0px 0px 10%;
	cursor: pointer;
	clear: both;
	z-index: 9;
	overflow: hidden;
	border-radius: 0px 0px 0px 3px;
	-moz-border-radius: 0px 0px 0px 3px;
	-webkit-border-radius: 0px 0px 0px 3px;
	}
div.anythingSlider .arrow.forward {
	float: right;
	text-align:right;
	display: block;
	position: absolute;
	Xbackground: #333333;
	width: 20px;
	height: 30px;
	right: 0px;
	margin: -32px 10% 0px 0px;
	cursor: pointer;
	clear: both;
	z-index: 9;
	overflow: hidden;
	}
div.anythingSlider .arrow a {
	display: block;
	Xbackground: #EEEEED;
	color: #999999;
	color: #BBB;
	height: 20px;
	width: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	margin: 0px 0px 0px 0px;
	outline: 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size:18px;
	font-weight:bold;
	position:relative;
	top:8px;
	text-decoration: none;
	}
div.anythingSlider .arrow a:hover {
	background: #5E3E5E;
	background: #EEEEED;
	color: #5E3E5E;
	text-decoration: none;
	}
div.anythingSlider .arrow a:active, div.anythingSlider .arrow a:focus {
	text-decoration: none;
	}
div.anythingSlider .forward { 
	right: 0; 
	}
div.anythingSlider .back {
	left: 0; 
	}
div.anythingSlider .back:hover, div.anythingSlider .forward:hover {
	background-position: -30px 0;
	}
div.anythingSlider .forward.disabled { 
	display: none; 
	}
div.anythingSlider .back.disabled { 
	display: none; 
	}

/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
	display: none !important;
	}
	
/* Navigation Links */
div.anythingSlider .anythingControls {
	display: block;
	background: #EEE;
	height: 30px;
	width: 580px;
	width: 100%;
	margin: 0px auto 0px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	outline: 0; 
	}
div.anythingSlider.activeSlider .thumbNav a:hover {background: #BBB;}
div.anythingSlider.activeSlider .thumbNav a.cur   {background: #5E3E5E;}
div.anythingSlider .thumbNav {
	text-align: center;
	height: 30px;
	margin: 0px auto 0px !important;
	padding: 0px;
	}
div.anythingSlider .thumbNav li {
	display: inline;
	height: 30px;
	width: 16px;
	text-transform: capitalize;
	font-size: 0;
	line-height: 0;
	}
div.anythingSlider .thumbNav a {
	display: inline-block;
	background: #DDD;
	height: 10px;
	width: 10px;
	margin: 12px 8px;
	padding: 0px;
	overflow: hidden;
	outline: 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	}
div.anythingSlider .thumbNav a:hover, 
div.anythingSlider .thumbNav a.cur {
	height: 10px;
	width: 10px;
	margin: 10px 8px;
	padding: 0px;
	background: #CCC;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position:relative;top:-1px;
	}
div.anythingSlider .thumbNav a.cur {
	height: 12px;
	width: 12px;
	}
div.anythingSlider.rtl .thumbNav a { 
	float: right; 
	}
div.anythingSlider.rtl .thumbNav { 
	float: left; 
	}

div.anythingSlider li iframe,
div.anythingSlider li embed,
div.anythingSlider li object,
div.anythingSlider li .feature_video,
div.anythingSlider li .feature_img,
div.anythingSlider .anythingWindow
{width: 640px;width: 99.9%;}

div.anythingSlider li iframe, 
div.anythingSlider li embed,
div.anythingSlider li object,
div.anythingSlider li .feature_video,
div.anythingSlider li .feature_img,
div.anythingSlider .anythingWindow
{height: 180px;}

#slider1{height: 210px;}

.areas {text-align:left;}
.areas ul li{
	display:inline-block;
	width:150px;
	background:url(../../images/pointer-white.png) no-repeat left center;
	padding-left:10px;
}


#fixed_form_placer{position:fixed;left:0;top:50%;width:1px;height:1px;z-index:2000;}
#fixed_form{position:relative;left:-313px;top:-100px;display:inline-block;Xheight:250px;padding-left:20px;width:310px;box-shadow:#000 3px 3px 10px;border:solid 3px #C00;border-radius:5px;background:#DDD url(../../images/label-contact_us.gif) no-repeat right center;}
#fixed_form h3{border:0;margin:.5em;text-align:center;color:#000;padding-right:20px;}
#fixed_form a.form_link{display:block;float:right;width:20px;height:300px;}
#fixed_form form label{display:inline-block;height:20px;width:60px;}
#fixed_form form label.checkbox{display:block;height:auto;padding:.5em 0;width:auto;}
#fixed_form form input.input{width:200px;}
#fixed_form form textarea{display:block;height:80px;width:265px;}
#fixed_form form .form_submit{text-align:center;margin-top:.5em;}

